body {
    margin: 0;
    padding: 0;   
}

/*HEADER */

/* *************************** Ajouter une ombre aux boutons lors du survol de la souris. */
button:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 1);
}

.droite {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
    margin-right: 10px;
	margin-top: 5px;
    height: 50px;
}

.droite a {
    margin: 10px;
    color: #312d2d;
    text-decoration:none; 
}

/* *************************** Ajouter une ombre aux balises <a> lors du survol de la souris. */
.droite a:hover {
    border-bottom: 1px solid black;
}

.header-button {

        border: 1px solid #4285f4;
        font-weight: bold;
        outline: none;
        background: #4285f4;
        color: #fff;
        padding: 7px 12px;
        border-radius: 3px;
        margin-left: 7px;
        cursor: pointer;
    }

/* BODY  */
.centre {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
    }

 .centre .formulaire {
     display: flex;
     flex-direction: column;
     width: 30%;

    }

 .centre .formulaire input {
     margin-top: 20px;
     padding: 10px;
     border-radius: 50px;
     border: 1px solid #d1d1d1;
     width: 100%;
 }

 .centre .formulaire input:hover {
    border: 1px solid #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
				0 0 2px rgba(0, 0, 0, 0.05),
				0 0 3px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05)
 }

 /*micro dans la barre de recherche */

.centre .formulaire label i {
    float: right;
    font-size: 20px;
    margin-top: -30px;
    margin-right: -10px;
    color: #4285f4;
    cursor: pointer;

}

.centre .buttons {
    margin-top: 20px;
}

.centre .buttons button {
    padding: 10px 20px; /* marge 10px haut/bas et 20px gauche/droite */
    background-color: #f0f0f0;
    border:none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
footer {
        
        display: flex;
        margin-top: 400px;
        background: #f2f2f2;
        background-color: #f2f2f2;
        bottom:0;
}

footer h4 {
	color: rgba(0,0,0, 0.54);
	font-size: 15px;
	line-height: 39.5px;
	font-weight: 400;
	padding-left: 29px;
	border: 1px solid #eee;
    margin-top: -30px;
    margin-bottom: 50px;
    width: auto;
    height: 60px;
    border-bottom: #a09999;
    background-color: #f2f2f2;

}


.liensfootergauche {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
	align-items: center;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 5px;
   
    height: 10px;

}
.liensfooterdroite {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
	align-items: center;
    padding-left: 550px;
    padding-right: 5px;
    margin-top: 5px;
    padding-top: 5px;
    height: 10px;
}
.liensfootergauche a{
    margin: 5px;
    color: #312d2d;
    text-decoration:none; 
}

.liensfooterdroite a{
    margin: 5px;
    color: #312d2d;
    text-decoration:none; 
}